#cards {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/perspective */
    perspective: 1000px;
    height:25em;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-500vw);
    }
    100% {
      transform: translateX(0%);   
    }
  }
  @keyframes moveLeft{
    0% {
      transform: translateX(-500vw);
    }
    100% {
      transform: translateX(-500vw);   
    }
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .card {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: relative;
  
    flex-shrink: 0;
  
    transition: transform 0.8s, opacity .8s;
    transform-style: preserve-3d;
    transform-origin: 100%;

    padding: 40px;
  }
  
  #card_Type{
    background-size: 110%;
    /*
    height:230px;
    width:150px;
    */
    height:8em;
    width:6em;

  }
  #Races #card_Type{
    background-image:url("../images/Dragonborn.png") ;
    animation: 1s ease-out 0s 1 moveLeft, 1s ease-out 0s 1 slideInLeft;

  }
  #Classes #card_Type{
    background-image:url("../images/Paladin.png") ;
    animation: 1s ease-out 0s 1 moveLeft, 1s ease-out .1s 1 slideInLeft;

  }
  #Spells #card_Type{
    background-image:url("../images/Spells.png") ;
    animation: 1s ease-out 0s 1 moveLeft, 1s ease-out .3s 1 slideInLeft;
  }
  #Monsters #card_Type{
    background-image:url("../images/Tarrasque.png") ;
    animation: 1s ease-out 0s 1 moveLeft, 1s ease-out .5s 1 slideInLeft;
    background-size: 125%;

  }

  /* Set up an increasing delay for the nice cascade flip effect. */
  .card:nth-child(2)  {transition-delay: 0.1s; }